<hr>
<h4>Customer Details</h4>
<table id="box-table-a">
  <tr>
    <td><b>Name:</b></td>
    <td><%=h @consumer.name %></td>
  </tr>
  
  <tr>
    <td><b>Address:</b></td>
    <td><%=h @consumer.address %></td>
  </tr>

  <tr>
    <td><b>City:</b></td>
    <td><%=h @consumer.city %></td>
  </tr>

  <tr>
    <td><b>Pin:</b></td>
    <td><%=h @consumer.pin %></td>
  </tr>
  
  <tr>
    <td><b>State:</b></td>
    <td><%=h @consumer.state %></td>
  </tr>

  <tr>
    <td><b>Home Phone:</b></td>
    <td><%=h @consumer.hphone %></td>
  </tr>

  <tr>
    <td><b>Phone:</b></td>
    <td><%=h @consumer.phone %></td>
  </tr>

  <tr>
    <td><b>Mobile:</b></td>
    <td><%=h @consumer.mobile %></td>
  </tr>

  <tr>
    <td><b>Email:</b></td>
    <td><%=h @consumer.email %></td>
  </tr>

  <tr>
    <td><b>Website:</b></td>
    <td><%=h @consumer.website %></td>
  </tr>

  <tr>
    <td><b>Notes:</b></td>
    <td><%=h @consumer.note %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_consumer_path(@consumer) %> |
<%= link_to("Delete", { :action => "destroy", :id => @consumer },
  :confirm => "Are you sure you want to delete this article?",
  :method => :delete) %> |
<%= link_to 'Back', consumers_path %>



<div align=right>
<small>
  <b>Created at:</b>
  <%=h @consumer.created_at %>
  <br>
  <b>Updated at:</b>
  <%=h @consumer.updated_at %>
</small>
</div>


  <hr>
<p>
<table id=hor-zebra>
<tr>
  <th>Product</th>
  <th>Serial No</th>
  <th>Model</th>
  <th>Capacity</th>
  <th>Date Purchased</th>
  <th>Warranty</th>
  <th>Remark</th>
</tr>
  <%= render :partial => "products/product",
    :collection => @consumer.products %>
</table>

<p>
  <b>Add a Product!</b>
  <%= render :partial => "products/form"  %>
</p>
